html { 
   background: url(../assets/images/bgstage1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

body {
 font-family: 'Roboto', sans-serif;
 margin:0px;
 height:100%;
}

fieldset {
 border:none;
}

#WholeContainer {
 min-height:100%;
 position:relative;
}

/*-------------------------------------Colours, Text etc*/

h1 {
 color: #ffffff;
}

h2 {
color:#ffffff;
text-align: center;
}

.AudioName {
 text-decoration: underline;
 text-align: left;
 margin-left: 30px;
 margin-bottom: 5px;
}

.EventInfoHeader p {
 font-size: large;
}

.BandInfoText p {
 font-size: large;
}

.CompiledAudio p {
 color:#ffffff;
 text-align: center;
}

.FooterAlbumInfo p {
 font-size: large;
}

.EventInfoHeader p {
  color:#ffffff;
  text-align: center;
}

.EventsListTable {
 color:#ffffff;
 margin-bottom: 16%;
}


/*-------------------------------------EventTable*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border-bottom: solid;
    border-width: 2px;
    border-color: #ffffff;
    text-align: left;
    padding: 8px;
}

.EventsListTable a:hover {
 background-color: White;
 color:black;
}

/*-------------------------------------BandMemberList */

.BandMembers {
 display:grid;
 grid-template-columns: auto;
 padding: 10px;
}

.BandGridItem {
 background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
 
}

.BandMembers p {
 color: #000000;
 margin-left: 15px;
 ; 
}

.BandContainer {
 margin-right: auto;
 margin-left: auto;
}

.borderblack {
 border: solid;
 border-width: 2px;
 border-color: #000000;
}

.imgsize {
width:249px;
}

.floatleft {
 float:left;
}

.floatright {
 float:right;
}



/*-------------------------------------Header*/

.header-container {
 display: flex;
 flex-direction: row;
 border-bottom: 2px solid #F2F2F2;
 padding: 5px 0;
 background-color: black;
}

.logo {
 margin-top: 7px;
 margin-left: 5%;
 display: block;
}


a {
 text-decoration: none;
 color:#ffffff;
}

a:visited {
 color: #ffffff;
}

nav {
 margin: 0.8em 0 0 5%;
}

header ul li {
 display: inline-block;
 padding: 10px 4em 10px 4em;
 font-size: large;
 transition: background-color 0.5s ease-out;
}

.NavLink:hover {
 background-color: #ff9900;
 font-weight: bold;
 border: solid;
 border-color: #ffffff;
 border-width: 1px;
 padding: 8px 70px 10px 72px;
}


/*--------------------------------------------------Body*/
audio {
 width:80%;
 margin-left: 60px;
 margin-bottom: 5px;
}

.AlbumShop {
 display:block;
 margin: 0 auto;
 width:40%;
 border: solid;
 border-width: 5px;
 border-color: #ffffff;
}

#Body {
 height:100%;
}

.BandHeaderImage img{
 max-width: 60%;
 height:auto;
 display:block;
 margin: 0 auto;
}

.col-small-old {
 position: relative;
 min-height: 1px;
 float: left;
 width: 100%;
 height: 100%;
 text-align: center;
}

.col-small {
 display: flex;
}

.centercontent {
 justify-content:center;
}
.col-form {
 display:flex;
 justify-content:center;
 padding-top: 7em;
 padding-bottom: 12em;
}

.CompiledAudio {
 Margin-top: 20px; 
}

.CompiledQuotes {
 margin: 40px 40px 40px 60px;
}

.EventsContainer {
 margin-top: 4%;
 margin-bottom: 10px;
}

.EventsList {
 margin-top: 7%;
}

.FooterAlbumInfo {
 Margin-top: 6%;
 Margin-bottom: 4%;
}

.TrackList {
 border: solid;
 border-color: #ffffff;
 margin:15px;
 background-color: #505050;
}

input {
 width:100%;
 padding:12px 20px;
 margin:8px 0;
 box-sizing: border-box;
 border: 2px solid black;
}

.FormBox {
color:#ffffff;
background-color: rgba(0, 0, 0, 0.2);
border: solid #ffffff 1px;
}

.FormButton {
 background-color: #ff9900;
 border: none;
 color: #ffffff;
 padding-top: 5px;
 padding-bottom: 5px;
}

#comments {
 resize:none;
 width:100%;
 box-sizing: border-box;
 border: 2px solid black;
 border-radius: 4px;
}

.FormBox p {
 margin-left: 25px;
}

.block-divider {
 width: 105px;
 height: 5px;
 border: 0;
}

.block-divider--white {
 background-color: #ffffff;
}

.opaque-overlay {
 top: 0;
 left: 0;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
}

.QuoteBody {
 display: inline-block;
 vertical-align: top;

}

.QuoteBlocks {
 border-left: 0;
 padding: 10px 20px;
 margin: 0 0 20px;
 font-size: 17px;
 color: #ffffff;
}

.StoreImage {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width:20%;
}

.VideoStructure {
 Display:block;
 margin: 0 auto;
 width: 70%;
 z-index: -100;
 background-size: cover;
 overflow: hidden;
 border-style: solid;
 border-width: 5px;
 border-color: #ffffff;
 margin-top: 15px;
}


/*-------------------------------------------------Footer*/

#footerbox {
 position:absolute;
 margin:0 auto -80px;
 width:100%;
 background-color: transparent;
 border-top: solid;
 border-color: #ffffff;
 border-width: 2px;
}

/*.footer-container {
 position: static;
 width:100%;
 background-color: transparent;
 padding: 15px 0px 0px 0px;
 bottom:0;
}*/

.sponserbar li {
 display:inherit;
 margin: 5px;
 text-decoration: none;
 float:left;
}

.socialmedialinks li {
 display:inherit;
 text-decoration: none;
 float:right;
 margin: 5px 5px 5px 5px;
 
}

.socialmedialinks img {
 height: 50px;
 width: auto;
 border-radius: 50%;
}

/*----------------------------------------------------MEDIA*/

@media only screen and (max-width: 700px) {
 
 /*--------------------Header media query */
 
 
 
 /*--------------------Body Media Query */
 
 .VideoStructure {
  border-width: 1px;
  margin:35px;
 }
 
 
 /*---------------------Footer media query */
 .footer-container {
  display: flex;
 }
 
 .socialmedialinks img {
  height:40px;
  width: auto;
  float:left;
  margin:5px;
 }
 
 .sponserbar img {
  height:40px;
  width:auto;
 }
}

