/* This sets the background the index page */

html {
 background: url(/assets/images/bgstage1.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100%;
}

/* This sets the body margin's and font family */

body {
 font-family: 'Roboto', sans-serif;
 margin: 0px;
 height: 100%;
}


/* Sets the boundries for the main div for the page */

.WholeContainer {
 min-height: 100%;
 position: relative;
}

/*-------------------------------------Colours, Text etc*/

h1 {
 color: #ffffff;
}

h2 {
 color: #ffffff;
 text-align: center;
}

.MusicHeader--Text{
 text-align: center;
 float:right;
}

.TrackList--Name {
 text-decoration: underline;
 text-align: center;
 margin-left: 30px;
 margin-bottom: 5px;
}

.Events--Text {
 font-size: large;
 color: #ffffff;
 text-align: center;
 margin-bottom: 30px;
}

.MusicInfo--Text {
 font-size: larger;
}

.CompiledAudio p {
 color: #ffffff;
 text-align: center;
}

.FooterAlbumInfo p {
 font-size: large;
}

.Events--Table {
 color: #ffffff;
 margin-bottom: 9%;
}


/*-------------------------------------EventTable*/

/* Information for the table was found on w3schools */

/* Preset table font, border and width */

table {
 font-family: arial, sans-serif;
 border-collapse: collapse;
 width: 100%;
}

/* Size of border for the row and columns */

td,
th {
 border-bottom: solid;
 border-width: 2px;
 border-color: #ffffff;
 text-align: left;
 padding: 8px;
}

/* Colour change for links while hovered */

.Events--Table a:hover {
 background-color: White;
 color: black;
}

/*-------------------------------------BandMemberList */

/* Layout for grid with bandmember details */

.Band {
 display: grid;
 grid-template-columns: auto;
 padding: 10px;
}

/* This sets the grid's background colour and border */

.Band_GridItem {
 background-color: rgba(255, 255, 255, 0.8);
 border: 3px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
}

.Band_Header {
 color:Black;
 margin-right: 3%;
 float:right;
 text-decoration: underline;
}

.Band_MainText {
 /*float:right;*/
 margin-left: 30px;
}

/* margin for the BandMembers Grid on display */

.BandContainer {
 margin-right: auto;
 margin-left: auto;
}

.Band_Img--BorderBlack {
 border: solid;
 border-width: 2px;
 border-color: #000000;
}

/* image size for band members profile pictures */

.Band_Img{
 width: 249px;
}


/*-------------------------------------Header*/

/* header container formatting */

.Header_Container {
 display: flex;
 flex-direction: row;
 border-bottom: 2px solid #F2F2F2;
 padding: 5px 0;
 background-color: black;
 z-index: 1;
}

/* Logo text margins */

.Header_Logo {
 margin-top: 7px;
 margin-left: 5%;
 display: block;
}

/* Link colour */

a {
 text-decoration: none;
 color: #ffffff;
}

/* Link visited colour */

a:visited {
 color: #ffffff;
}

/* Nav div margins */

nav {
 margin: 0.8em 3px 0 4%;
}

/* Navbar links formatting (not button/mobile display) */

.Navbar li {
 display: inline-block;
 padding: 10px 4em 10px 4em;
 font-size: large;
 border-radius: 15px;
 transition: background-color 0.5s ease-out;
}

/* Mobile menu formatting */

.DropDownMenu li {
 padding: 10px 2em 10px 2em;
}

/* Hides mobile menu button when >720px's */

.Navbardropdown {
 display: none;
}

/* Mobile menu formatting and trasitions */

.DropDownMenu {
 list-style: none;
 margin: 0;
 padding: 0;
 position: absolute;
 background-color: rgba(0, 0, 0, 0.8);
 width: 150px;
 text-align: center;
 z-index: 1;
 box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.8);
 transform: translateY(-200%);
 transition: transform .2s ease-in-out;
}

/* Button shown on mobile menu to access drop down list */

.NavButton {
 border: solid #ffffff 1px;
 border-radius: 25px;
 background-color: #ff9900;
 margin-top: -7px;
 width: 150px;
 height: 50px;
 color: #fff;
 text-transform: uppercase;
 cursor: pointer;
}

/* Mobile menu button colour change on hover */

.NavBarDropDown:hover button {
 background-color: #ff8000
}

/* Text colour chane on hover for mobile menu */

.NavDropHref:hover {
 color: orange;
 transition: color .2s ease-in-out;
}

/* This sets the menu out of site ready to be called */

.NavBarDropDown:hover .DropDownMenu {
 transform: translateY(0);
}

/* On desktop/tablet device the buttons highlight and gain
   a border when hovered*/

.NavBar_Link:hover {
 background-color: #ff9900;
 font-style: italic;
 border: solid;
 border-color: #ffffff;
 border-width: 1px;
 border-radius: 15px;
 padding: 8px 70px 10px 72px;
}


/*--------------------------------------------------Body*/

/* sets all audio width and margins */

audio {
 width: 80%;
 margin-left: 60px;
 margin-bottom: 15px;
}

/* sets the image location on the screen for user to click on to access store */

.AlbumShop {
 display: block;
 margin: 0 auto;
 width: 40%;
 border: solid;
 border-width: 5px;
 border-color: #ffffff;
}

.Body {
 height: 100%;
}

.BandHeaderImage img {
 max-width: 60%;
 height: auto;
 display: block;
 margin: 0 auto;
}

/* .col-small-old {
 position: relative;
 min-height: 1px;
 float: left;
 width: 100%;
 height: 100%;
 text-align: center;
} */

/* sets the main body for content to be displayed as flex */

.col-small {
 display: flex;
}

.centercontent {
 justify-content: center;
}

/* formatting for the form to be centre of screen */

.col-form {
 display: flex;
 justify-content: center;
 padding-top: 7em;
 padding-bottom: 2em;
}

.CompiledAudio {
 Margin-top: 20px;
}

.CompiledQuotes {
 margin: 40px 40px 40px 60px;
}

.EventsContainer {
 margin-top: 4%;
 margin-bottom: 50px;
}

.Events--Header {
 margin-top: 2%;
 text-align: center
}

.FooterAlbumInfo {
 Margin-top: 6%;
 Margin-bottom: 4%;
}

.TrackList {
 border: solid;
 border-color: #ffffff;
 margin: 15px;
 background-color: rgba(0, 0, 0, 0.5);
}


/* formatting for input of the form */

input {
 width: 95%;
 padding: 10px 20px;
 margin: 8px 10px;
 box-sizing: border-box;
 border: 2px solid black;
 border-radius: 4px;
 display: block;
}

/* Colour of text, background colour for form */

.FormBox {
 color: #ffffff;
 background-color: rgba(0, 0, 0, 0.2);
 border: solid #ffffff 2px;
}

/* Customising the form submit button  */

.FormButton {
 background-color: #ff9900;
 border: none;
 color: #ffffff;
 padding-top: 5px;
 padding-bottom: 5px;
 width: 40%;
 margin-left: 30%;
 margin-right: 30%;
 font-family: 'roboto';
 border-radius: 4px;
}

.FormButton:hover {
 background-color: #ff8000;
}

/* Comment box formatting within the form */

#comments {
 resize: none;
 width: 100%;
 box-sizing: border-box;
 border: 2px solid black;
 border-radius: 4px;
 margin-bottom: 10px;
}

.FormBox p {
 margin-left: 25px;
}

/* HR width and height */

.block-divider {
 width: 105px;
 height: 5px;
 border: 0;
}

/* HR colour */

.block-divider--white {
 background-color: #ffffff;
}

/* This gives the opaque look for the background image to make it less harsh */

.opaque-overlay {
 top: 0;
 left: 0;
 height: 100%;
 /*margin-bottom: 35px;*/
 background-color: rgba(0, 0, 0, 0.5);
}

/* formatting for quotes */

.QuoteBody {
 display: inline-block;
 vertical-align: top;
}

/* Margin for quotes container  */

.QuoteBlocks {
 border-left: 0;
 padding: 10px 20px;
 margin: 0 0 20px;
 font-size: 17px;
 color: #ffffff;
}

/* Formatting for store image photo */

.StoreImage {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 20%;
}

/* Formatting for video on main screen, make it adjustable for different res */

.VideoStructure {
 Display: block;
 margin: 0 auto;
 width: 70%;
 border-style: solid;
 border-width: 5px;
 border-color: #ffffff;
 margin-top: 15px;
}


/*-------------------------------------------------*/

/* Formatting for the Footer box */

.Footerbox {
 position: absolute;
 margin: 0px auto -80px;
 width: 100%;
 background-color: transparent;
 border-top: solid;
 border-color: #ffffff;
 border-width: 2px;
}

/* layout for sponser icons/links */

.Footer_SponserBar {
 margin-top:10px;
}

.Footer_SponserBar li {
 display: inherit;
 margin: 5px;
 text-decoration: none;
 float: left;
}

/* layout for social media links */

.Footer_SocialMediaLinks li {
 display: inherit;
 text-decoration: none;
 float: right;
 margin: 5px 5px 5px 5px;

}

/* Social media icon formatting */

.Footer_SocialMediaLinks img {
 height: 50px;
 width: auto;
 border-radius: 50%;
}

/*----------------------------------------------------MEDIA*/

/* This sets different styles to be used when below 1380px wide */

@media only screen and (max-width: 1380px) {

 .Header_Logo {
  font-size: 10px;
  margin-top: 23px;
 }

 .Navbar li {
  display: inline-block;
  padding: 10px 3em 10px 4em;
 }

}



/* This sets different styles to be used when below 700px wide */

@media only screen and (max-width: 650px) {

 /*--------------------Header media query */
 .Navbar {
  display: none;
 }

 .Navbardropdown {
  display: block;
 }

 .Header_Logo {
  font-size: 10px;
  margin-top: 23px;
 }

 /*--------------------Body Media Query */
 .VideoStructure {
  border-width: 1px;
  width: 100%;
 }

 .Band_Header {
  float:none;
 }

 /*---------------------Footer media query */
 .Footer {
  display: flex;
 }

 .Footer_SocialMediaLinks img {
  height: 40px;
  width: auto;
  float: left;
  margin: 5px;
 }

 .Footer_SponserBar img {
  height: 40px;
  width: auto;
 }
}
