/* This sets the background the index page */

html {
  background: url(../images/bgstage1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

/* This sets the body margin's and font family */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  height: 100%;
}


/* Sets the boundries for the main div for the page */

.WholeContainer {
  min-height: 100%;
  position: relative;
}

/*-------------------------------------Colours, Text etc*/

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
  text-align: center;
}

.BandHeader_Text {
  text-align: center;
  font-size: xx-large;
}

.MusicHeader_Text {
  text-align: center;
  font-size: xx-large;
}

.Quotes_Header {
  font-size: xx-large;
}

.TrackList_Name {
  text-decoration: underline;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 5px;
}

.Events_HeaderText {
  font-size: large;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}

.MusicInfo_Text {
  font-size: 20px;
}

.CompiledAudio p {
  color: #ffffff;
  text-align: center;
}

.FooterAlbumInfo p {
  font-size: large;
}

.Events_Table {
  color: #ffffff;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom:15px;
  box-shadow: 0px 0px 3px 8px rgba(50, 54, 75, .5);
  background-color: rgba(50, 54, 75, .5);
  }


/*-------------------------------------EventTable*/

/* Information for the table was found on w3schools */

/* Preset table font, border and width */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* Size of border for the row and columns */

td,
th {
  border-bottom: solid;
  border-width: 2px;
  border-color: #ffffff;
  text-align: left;
  padding: 8px;
}

/* Colour change for links while hovered */

.Events_Table a:hover {
  background-color: White;
  color: black;
}

/*-------------------------------------BandMemberList */

/* Layout for grid with bandmember details */

.Band {
  display: grid;
  grid-template-columns: auto;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 35px;
}

/* This sets the grid's background colour and border */

.Band_GridItem {
  background-color: rgba(255, 165, 0, 0.8);
  border: 3px ridge #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display:flex;
}

.Band_Header {
  color: #ffffff;
  text-decoration: underline;
  font-size: 32px;
}

.Band_MainText {
  text-align: center;
  color:#ffffff;
  font-size: 20px;
  padding-top: 10px;
}

/* margin for the BandMembers Grid on display */

.BandContainer {
  width:100%;
}

.Band_Img--Border {
  border-right-style: solid;
  border-left-style: solid;
  border-width: 5px;
  border-color: #ffffff;
}

/* image size for band members profile pictures */

.Band_Img {
  width: 400px;
  border-radius: 35px;
  margin-right: 15px;
}

.Band_Img_Text {
  margin-left: auto;
  margin-right: auto;
}

.Band_SubText {
  color:#ffffff;
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
}

.Band_Img_Text_List li {
  padding-top: 10px;
  color:#ffffff;
  list-style: square;
}

.Band_Img_Text_List--Italic {
  font-style:italic;
}

/*-------------------------------------Header*/

/* header container formatting */

.Header_Container {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #F2F2F2;
  padding: 5px 0;
  background-color: black;
  z-index: 1;
}

/* Logo text margins */

.Header_Logo {
  margin-top: 7px;
  margin-left: 5%;
  display: block;
}

/* Link colour */

a {
  text-decoration: none;
  color: #ffffff;
}

/* Link visited colour */

a:visited {
  color: #ffffff;
}

/* Nav div margins */

nav {
  margin: 12px 3px 0 4%;
}

/* Navbar links formatting (not button/mobile display) */

.NavBar li {
  display: inline-block;
  padding: 10px 4em 10px 4em;
  font-size: large;
  border-radius: 15px;
  transition: background-color 0.5s ease-out;
}

.NavBar_SM {
  display: none;
}

.NavBar_SM label:hover {
  background-color: #ffa500;
  transition: background-color 0.2s ease-in-out;
}

/* Click to expand button */

.NavBar_SM label {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  background-color: black;
  border: solid white 2px;
  padding: 15px 20px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*  The ul will have display:none by default */

.NavBar_SM ul {
  position: absolute;
  list-style: none;
  text-align: center;
  width: 100%;
  z-index: 1;
  margin: 0;
  padding: 0px 0px 0px 3px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  display: none;
}

.NavBar_SM ul li {
  padding: 15px;
  display: block;
  background-color: #fff;
  color: Black;
  margin-bottom: 1px;
  cursor: pointer;
}

.NavBar_SM ul li:hover {
  background-color: #ff9900;
  color: #FFF;
}

.NavBar_SM ul li a {
  color: inherit;
  text-decoration: none;

}

/* This hides the checkbox icon */

input[type=checkbox] {
  display: none;
}

/* Hides the UL by default */

.NavBar_SM ul {
  display: none;
}

/* This shows the UL when checked. */

.NavBar_SM input[type=checkbox]:checked~ul {
  display: block;
}

@media only screen and (min-width: 1330px) {
  .burger {
    display:none;
  }
}

/* On desktop/tablet device the buttons highlight and gain
   a border when hovered*/

.NavBar_Link:hover {
  background-color: #ff9900;
  font-style: italic;
  border: solid;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 15px;
  padding: 8px 70px 10px 72px;
}

.NavBar_LinkSelected {
  background-color: #008080;
  font-weight: bolder;
  border: solid;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 15px;
  padding: 8px 70px 10px 72px;
}


/*--------------------------------------------------Body*/

/* Index Title Format  */

.MainPageTitle {
  font-size:35px;
  text-align:center;
  padding-bottom:25px;
  color: #F8F8FF;
}

/* sets all audio width and margins */

audio {
  width: 80%;
  margin-left: 60px;
  margin-bottom: 15px;
}

/* sets the image location on the screen for user to click on to access store */

.AlbumShop {
  display: block;
  margin: 0 auto;
  width: 40%;
  border: solid;
  border-width: 5px;
  border-color: #ffffff;
}

.Body {
  height: 100%;
}

.BandHeaderImage img {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* sets the main body for content to be displayed as flex */

.col-small {
  display: flex;
}

.centercontent {
  justify-content: center;
}

/* formatting for the form to be centre of screen */

.col-form {
  display: flex;
  justify-content: center;
  padding-top: 7em;
  padding-bottom: 3em;
}

.CompiledAudio {
  Margin-top: 20px;
}

.CompiledQuotes {
  margin: 15px 40px 40px 60px;
}

.EventsContainer {
  margin-bottom: 50px;
}

.Events_Header {
  margin-top: 2%;
  font-size: x-large;
  text-align: center
}

.Events_PreviousEvents {
  text-align: center;
  color:#ffffff;
  margin-left: 20px;
  margin-right: 20px;
}

.Event_Pictures {
  display: flex;
  margin-top: 3%;
}

.Event_Pictures_Img1 {
  border: solid white 3px;
  width:650px;
  margin-left: auto;
}

.Event_Pictures_Img2 {
  margin-left: 25px;
  margin-right:auto;
  border: solid white 3px;
  Width:650px;
}

.FooterAlbumInfo {
  Margin-top: 6%;
  Margin-bottom: 4%;
}

.FooterAlbumInfo_AlbumShop {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 50%;
  height: auto;
  border: solid white 2px;
}

.TrackList {
  border: solid;
  border-color: #ffffff;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*Sets labels to be left by 3% */

label {
  margin-left: 3%;
}

/* formatting for input of the form */

input {
  width: 95%;
  padding: 10px 20px;
  margin: 8px 10px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  display: block;
}

/* Colour of text, background colour for form */

.FormBox {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid #ffffff 2px;
}

/* Customising the form submit button  */

.FormButton {
  background-color: #ff9900;
  border: none;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 7px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3%;
  font-family: 'roboto';
  border-radius: 4px;
}

.FormButton:hover {
  background-color: #ff8000;
}

/* Comment box formatting within the form */

#comments {
  resize: none;
  width: 95%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
  margin: 8px 10px;
}

.FormBox p {
  margin-left: 25px;
}

/* HR width and height */

.Block_Divider {
  width: 105px;
  height: 5px;
  border: 0;
}

/* HR colour */

.Block_Divider--White {
  background-color: #ffffff;
}

/* This gives the opaque look for the background image to make it less harsh */

.PageImage {
  margin-top: 25px;
  margin-bottom: 25px;
}

.PageImage_Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 50%;
  height: auto;
  border: solid white 6px;
}

.opaque-overlay {
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* formatting for quotes */

.QuoteBody {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

/* Margin for quotes container  */

.QuoteBody_Block {
  border-left: 0;
  padding: 10px 20px;
  margin: 20px 0 20px 0;
  font-size: 17px;
  color: #ffffff;
}

/* Formatting for store image photo */

.StoreImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* Formatting for video on main screen, make it adjustable for different res */

.VideoStructure {
  Display: block;
  margin: 0 auto;
  width: 70%;
  border-style: solid;
  border-width: 5px;
  border-color: #ffffff;
  margin-top: 25px;
  margin-bottom: 25px;
}

.NavBar_FM {
  margin-top: 10px;
}

/*-------------------------------------------------Footer*/

/* Formatting for the Footer box */
.FooterBox {
  position: absolute;
  margin: 0px auto -80px;
  width: 100%;
  background-color: transparent;
  border-top: solid;
  border-color: #ffffff;
  border-width: 2px;
}

/* layout for sponser icons/links */

.Footer_SponserBar {
  margin-top: 10px;
}

.Footer_SponserBar li {
  display: inherit;
  margin: 5px;
  text-decoration: none;
  float: left;
}

/* layout for social media links */
.Footer_SocialMediaLinks li {
  display: inherit;
  text-decoration: none;
  float: right;
  margin: 5px 5px 5px 5px;

}

/* Social media icon formatting */
.Footer_SocialMediaLinks img {
  height: 50px;
  width: auto;
  
}

/* Images for quotes */
.QuoteBody_Image {
  width:80px;
  height:80px;
  float:left;
  border-radius:50%;
  vertical-align:middle;
  border:0;
  margin-top:46px;
}

/*----------------------------------------------------MEDIA*/

/* This sets different styles to be used when below 1440px wide */
  @media only screen and (max-width: 1440px) {

.Header_Logo {
  font-size: 10px;
  margin-top: 23px;
 }

.Navbar li {
  display: inline-block;
  padding: 10px 3em 10px 4em;
 }
}

/* This sets different styles to be used when below 1330px wide */
  @media only screen and (max-width: 1330px) {

 /*--------------------Header media query */
 .NavBar_FM {
  /*display: none;*/
 }

 .NavBar_SM {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #FFF;
 }

 .Header_Logo {
  font-size: 17px;
  margin-top: -4px;
 }

 .NavBar {
  margin-left: auto;
  margin-right: 5%;
 }
 
.Event_Pictures {
  display:block;
}
 
.Event_Pictures_Img1 {
  margin-right: 0;
  margin-left: 0;
  width:60%;
 }
 
.Event_Pictures_Img2 {
   margin-left: 0;
   margin-right: 0;
   width:60%;
   margin-top: 15px;
 }
 
 .Band {
  display: grid;
  grid-template-columns: auto;
  padding-bottom: 10px;
}

/* This sets the grid's background colour and border */

.Band_GridItem {
  background-color: rgba(255, 165, 0, 0.8);
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  display:block;
}

.Band_Header {
  margin-right: 3%;
  text-decoration: underline;
}

.Band_MainText {
  margin-left: 30px;
  clear: left;
  text-align: justify;
}

.Band_Img--BorderBlack {
  border: solid;
  border-width: 2px;
  border-color: #000000;
}

/* image size for band members profile pictures */

.Band_Img {
  margin-left: auto;
  margin-right: auto;
  display: block;
 }
}

 /* This sets different styles to be used when below 650px wide */
  @media only screen and (max-width: 650px) {

 /*--------------------Body Media Query */
 .VideoStructure {
  border-width: 1px;
  width: 100%;
 }

 .Band_Header {
  float: none;
 }

 .Band_Img {
  width: 95%;
 }

 .FormBox {
  margin-left: 2%;
  margin-right: 2%;
 }

 .Events_HeaderText {
  margin-left: 16%;
  margin-right: 16%;
 }

 
 /* Margin for Audio */
 audio {
  width: 95%;
  margin-left: 2%;
  margin-bottom: 15px;
 }

 /*---------------------Table Query */
 Table {
  width: 85%;
  margin-left: 10%;
 }

 /*---------------------Footer media query */
 .Footer {
  display: flex;
 }

 .Footer_SocialMediaLinks img {
  height: 40px;
  width: auto;
  float: left;
  margin: 5px;
 }

 .Footer_SponserBar img {
  height: 40px;
  width: auto;
 }
 
 .QuoteBody {
   display:block;
 }
 
 .QuoteBody_Image {
   display:none;
 }   
 
 .Event_Pictures_Img1 {
  margin-right: 0;
  margin-left: 0;
  width:100%;
 }
 
.Event_Pictures_Img2 {
   margin-left: 0;
   margin-right: 0;
   width:100%;
 }
 
}
